* { box-sizing: border-box; }
table { 
  border-collapse: collapse;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: white;
  font-size: 30px;
}
tr:first-child td {
	border-top-color: black;
}
tr:nth-child(3n) td {
	border-bottom-color: black;
}
td {
	border: 1px solid grey;
	height: 60px;
	width: 60px;
}
td:first-child {
	border-left-color: black;
}
td:nth-child(3n) {
	border-right-color: black;
}
input {
	padding: 0; 
	text-align: center;
	border: 0 ;
	height: 50px;
	width: 50px;
	text-align: center;
	font-size: 30px;
}

/* input:hover {
	background: #ffffff;
} */

.buttons{
	text-align: center;
    text-decoration: none;
    display: inline-block;
}

#solveButton {
	transform: translate(-50%, -50%);
	color: blue;
    font-size: 25px;
	position: absolute;
	left: 50%;
	bottom: 7%;
}

#clearButton {
	transform: translate(-50%, -50%);
	color: rgb(255, 0, 0);
	font-size: 25px;
	position: absolute;
	left: 62%;
	bottom: 7%;
}

h2 {
	color: rgb(17, 0, 255);
	position: absolute;
	top: 7%;
	left: 50%;
	transform: translate(-50%, -50%);
}

body {
	background: lightgray;
}